
ignore/
gridfinity-rebuilt.json
gridfinity-rebuilt-bins.json
stl/
batch/
site/
*.json

#Python related
__pycache__/
.mypy_cache/

#exclude generated temporary test folders
oscad_generated_test_files.*/